*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: rgba(242, 234, 215, 0.9) url("background.jpg");
    /* background-image: url("background.jpg"); */
    background-repeat:repeat-y;
    background-blend-mode:darken;
    background-size:cover;



}

.Navbar{
    position: sticky;
    top: 0px;
    display:flex;
    background-color: #F2EAD7;
    height: 55px;
    width: 100%;
    align-items: center;
}

.Nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.Navbar ul{
    display:inline-flex;
    padding-left: 20px;
    list-style: none;
    align-items: center;
}

.Navbar ul li a{
    color: #3C2716;
    text-decoration: none;
}

#mylib{
    font-size: 20px;
    letter-spacing: 0.8px;
    padding-right: 30px;
}

#home{
    font-size: 13px;
    letter-spacing: 0.8px;
    font-weight:initial
}

#searchBox{
    padding: 8px;
    font-size: 17px;
    margin-right: 5px;
    border-radius: 5px;
    width: 220px;
}
#searchBtn{
    color: green;
    width: 100px;
    font-size: 17px;
    background-color: #F2EAD7;
    padding: 9px;
    margin-right: 10px;
    border: solid 1px green;
    border-radius: 5px;

}

#searchBtn:hover{
    background-color:#198754;
    color: #3C2716;
    border: solid 1px #F2EAD7;

}

.container{
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 85%;
    background-color: #F2EAD7;
    border-radius: 10px;
    margin-bottom: 40px;
}

#my-lib{
    margin-left: 70px;
    padding-top: 20px;
    font-size: 40px;
    letter-spacing: 2px;
}


